body {
  background-color: #E5E3C9;
}

.form {
  background-color: #789395;
  position: sticky;
  top: 0px;
  height: 300px;
  z-index: 1;
}

legend {
  color: #000000;
  font-size: 2.5rem;
  padding: 5px;
  font-family: "Bakbak One", cursive;
  text-align: center;
  position: relative;
  right: 120px;
}
legend:hover {
  color: rgb(4, 0, 255);
}
label {
  font-family: "Bakbak One", cursive;
  color: #ffffff;
  font-size: 1.5rem;
}

fieldset {
  font-size: 1.5rem;
  padding-left: 8%;
  padding-top: 2%;
  height: 230px;
  border: none;
}

input {
  width: 300px;
  height: 30px;
  font-family: "Balsamiq Sans", cursive;
  background-color: #c9ccd5;
  font-size: 1.3rem;
}
select {
  font-family: "Balsamiq Sans", cursive;
  width: 300px;
  height: 30px;
  background-color: #c9ccd5;
  font-size: 1.3rem;
}

.submit {
  position: relative;
  left: 1300px;
  bottom: 250px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  font-size: 2rem;
  background-color: #B4CFB0;
  color: #000000;
}
.submit:hover {
  background-color: #E5E3C9;
  color: rgb(0, 0, 0);
}

.select_image {
  margin-left: 350px;
}

.center {
  text-align: center;
}

/* record list section */


.users_heading {
  background-color: #94B49F;
  color: #425657;

  font-family: "Bakbak One", cursive;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: #93b5c6;

  margin-top: 5px;

  height: 40px;
  position: sticky;
  top: 300px;
  z-index: 1;
}



.data-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  width: 75%;
  height: 300px;
  background-color: #B4CFB0;
  color: #f84848;
  font-size: 1.5rem;

  font-family: "Balsamiq Sans", cursive;
  text-align: left;
  border-radius: 5%;
}


/* upload image display */



#users_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

span {
  text-decoration: underline;
  font-weight: 900;
  color : rgb(16, 14, 14);
  padding-left:10px;
}

.img-container{
   display : flex;
   flex-direction: column;
   justify-content: center;
}

.user-img{
    height: 250px;
    width : auto;
    border : 2px solid black;
    border-radius: 5%;
}